.App {
  text-align: center;
}
button{
  width: 30%;
  font-size: 150%;
  font-family: ' sans-serif';
  padding: 1%;
  border: 1px solid black;
  box-shadow: 2px 2px 1px grey;
  
  background-color: red;
}
button:hover{
  background-color: rgb(255, 72, 0);
  box-shadow: inset 0px 0px 4px black;
}